.kommune__wrapper {
  padding: 2ch;
}

/* On small screens we want to use the space that we have*/
@media only screen and (min-width: 400px) {
  .kommune__wrapper {
    max-width: 100ch;
    margin: auto;
  }
}

.kommune__wrapper a {
  border-bottom: 3px solid var(--yellow);
}

.kommune__wrapper a:hover {
  border-bottom: 3px solid var(--pink);
}

.kommune__wrapper a:visited {
  border-bottom: 3px solid var(--purple);
}
