.kommune__wrapper {
  padding: 2ch;
}

/* On small screens we want to use the space that we have*/
@media only screen and (min-width: 400px) {
  .kommune__wrapper {
    max-width: 100ch;
    margin: auto;
  }
}