#{{ .chart_id }} svg{
  overflow: visible;
}

#{{ .chart_id }} .axis{
  opacity: .5;
}

#{{ .chart_id }} .line{
  fill: none;
  stroke: black;
  stroke-width: 3;
}

#{{ .chart_id }} .area{
  fill: #eee;
}

#{{ .chart_id }} .your-line{
  stroke: #01873B;
  stroke-width: 3;
  stroke-dasharray: 5 5;
}
