{{ $reset := resources.Get "css/reset.css" }}
{{ $base := resources.Get "css/base.css" }}
{{ $common := resources.Get "css/common.css" }}
{{ $style := resources.Get "css/style.css" }}
{{ $single := resources.Get "css/single.css" }}
{{ $list := resources.Get "css/list.css" }}
{{ $kommune := resources.Get "css/kommune.css" }}
{{ $medias := resources.Get "css/media-queries.css" }}
{{ $custom := resources.Get "css/custom.css" }}
{{ $bundle := slice $reset $base $common $style $single $list $medias $custom $kommune | resources.Concat "css/bundle.css" }}

{{ $css := $bundle | resources.Minify }}
{{ $secureCSS := $css | resources.Fingerprint "sha384" }}

<link rel="stylesheet" href="{{ $css.Permalink }}" integrity="{{ htmlUnescape $secureCSS.Data.Integrity }}">
